html{
    position: relative;
}

body{
    margin-bottom: 160px;
    margin-top: 50px;
}

nav{
    background-color: #2C2C2C;
}

.nav-item{
    margin-right: 30px;

}

a{
    color: white;
}

.card-body a{
    color: black;
}

.jumbotron{
    min-height: 240px;
    background: url("../img/1231.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
    font: 900;
}

#judul{
    padding-bottom: 20px;
}

hr{
    width: 250px;
    border-bottom: 3px solid #707070;
}

section{
    min-height: 680px;
}

.about{
    min-height: 480px;
    padding-top: 20px;
}

.card{
    min-width: fit-content;
    min-height: 540px;
    border-width: 3px;
}

.project{
    background-color: #EBEDED;
    padding-top: 20px;
}

footer{
    background-color: #1B1B1B;
    bottom: 0;
    position: absolute;
    width: 100%;
    min-height: 160px;
    color: #FEFEFE;
    padding-top: 40px;
    padding-bottom: 10px;
}

.kkn{
    max-width: 160px;
    max-height: 60px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

footer p{
    padding-top: 10px;
    font-size: 1em;
}